// @font-face {
//   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
//   src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
// }

$graywhite: #f2f2f2;
$darkgreen: #425e25;
$white: #fff;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#banner {
  .image {
    object-fit: cover;
    width: 100%;
    height: 700px;
  }
}

.article {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;

  .image-wrapper {
    .image {
      width: 100%;
      object-fit: cover;
    }
  }

  .content-wrapper {
    max-width: 50vw;
    text-align: justify;
    display: flex;
    align-items: center;
  }

  // tanda & digunakan jk dlm 1 className trdpt 2 class & ingin dipisahkan
  &.article-1 {
    padding-bottom: 0;
    .image-wrapper {
      max-width: 50vw;
      .image {
        width: 100%;
        height: 300px;
      }
    }
    @media screen and (max-width: 501px) {
      display: block;

      .image-wrapper,
      .content-wrapper {
        max-width: unset;
      }
    }
  }

  &.article-2 {
    .image-wrapper {
      max-width: 50vw;
      .image {
        width: 100%;
        height: 400px;
      }
    }

    .content-wrapper {
      padding-right: 2rem;
    }

    // ---------- STOP RESPONSIVE CSS
    .image-wrapper-mobile {
      display: none;
    }

    // --------- RESPONSIVE CSS
    @media screen and (max-width: 501px) {
      display: block;

      .image-wrapper {
        display: none;
      }

      .image-wrapper-mobile {
        display: block;
        .image {
          width: 100%;
          height: 400px;
        }
      }
      .content-wrapper {
        max-width: unset;
      }
      .content-wrapper {
        padding-right: unset;
      }
    }
  }
}

#horizontal {
  background-color: $graywhite;
  overflow-y: scroll;
  display: flex;
  padding: 2rem;
  max-width: 100vw;

  .image-wrapper {
    height: 225px;
    margin-right: 2rem;

    .image {
      height: 100%;
    }
  }
}

#newsletter {
  display: flex;
  padding: 1rem;

  .title-wrapper {
    width: 50vw;
  }

  .forms-wrapper {
    width: 50vw;
    display: flex;

    input {
      width: 100%;
      padding: 1rem;
      background: $graywhite;
      border: none;
    }
    button {
      padding: 1rem 2rem;
      background: $darkgreen;
      color: $white;
      border: none;
      margin-left: 2rem;
      font-weight: 700;
    }
  }

  @media screen and (max-width: 501px) {
    flex-direction: column;

    .title-wrapper,
    .forms-wrapper {
      width: unset;
    }
  }
}
