#banner {
  .image {
    width: 100%;
    height: 700px;
  }
}

.article {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;

  .image-wrapper {
    .image {
      width: 100%;
      object-fit: cover;
    }
  }

  .content-wrapper {
    max-width: 50vw;
    text-align: justify;
    display: flex;
    align-items: center;
  }

  // tanda & digunakan jk dlm 1 className trdpt 2 class & ingin dipisahkan
  &.article-1 {
    padding-bottom: 0;
    .image-wrapper {
      max-width: 50vw;
      .image {
        width: 100%;
        height: 300px;
      }
    }
  }

  &.article-2 {
    .image-wrapper {
      max-width: 50vw;
      .image {
        width: 100%;
        height: 400px;
      }
    }

    .content-wrapper {
      padding-right: 2rem;
    }
  }
}

#horizontal {
  display: flex;
  background-color: #f2f2f2;
  padding: 2rem;
}
